html,body{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
canvas{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:none;
}
body{
	position:relative;
	overflow:hidden;
}
.user-menu{
	position:fixed;
	top:0;
	left:0;
	width:15%;
	height:100%;
	background-color:rgb(34,34,34);
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    transition:transform .65s ease-out;
	animation:menuAnim 2.3s ease-out .6s;
	margin:0;
	padding:0;
	border:none;
	/*overflow:hidden;*/
}
@keyframes menuAnim{
	25%{
		transform:translateX(0);
	}
	75%{
		transform:translateX(0);
	}
	100%{
		transform:translateX(-100%);
	}
}
.removeAnim{
	animation:none;
	animation-fill-mode:none;
}
.user-menu.show{
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
#hide-container{
	position:absolute;
	right:1%;
	top:30%;
	transform:translate(100%,-50%);
	background-color:rgb(34,34,34);
	opacity:1;
	width:30%;
	height:20%;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	margin:0;
}
#hide-container:hover{
	cursor:pointer;
}
.menu-element{
	position:relative;
	height:9%;
}
.disappear{
	animation:disappear 1.5s 2s;
	animation-fill-mode:forwards;
}
@keyframes disappear{
	from{
		opacity:1;
	}
	to{
		opacity:0;
	}
}
#menu-icon{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:1.7em;
}
#user-menu p:not(.category,.rgb),#custom-btn{
	color:white;
	width:70%;
	padding:0 15% 0 15%;
	margin:0;
}
.category{
	position:relative;
	top:50%;
	transform:translateY(-50%);
	color:white;
	font-size:1.1em;
	font-weight:bold;
	letter-spacing:2px;
	padding-left:5%;
	margin:0;
}
#r{
	color:rgb(255,0,0);
}
#g{
	color:rgb(0,255,0);
}
#b{
	color:rgb(0,0,255);
}
.selection-container,.custom-container{
	position:relative;
	width:100%;
	margin:0;
}
.selection-container{
	border-radius:4px;
	transition:background-color .3s ease-out;
}
.selection-container:hover{
	background-color:rgba(19,112,227,.5);
	color:rgb(0,200,0);
	box-shadow:0 3px 5px rgba(0,0,0,.2), 0 15px 17px rgba(0,0,0,.2);
	cursor:pointer;
}
.selection-container p{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
#magenta, #blue,#red,#green,#mint,#fuchsia{
	position:absolute;
	width: 15px;
	height:15px;
	right:15%;
	top:50%;
	transform:translateY(-50%);
	border-radius:50%;
}
#btn{
	position:absolute;
	right:15%;
	top:5%;
	transform:translateY(-50%);
	border-radius:50%;
}
#magenta{
	background-color:rgb(200,0,255);
}
#green{
	background-color:rgb(0,190,0);
}
#blue{
	background-color:rgb(50,145,255);
}
#red{
	background-color:rgb(255,0,0);
}
#mint{
	background-color:rgb(0,255,220);
}
#fuchsia{
	background-color:rgb(255,0,255);
}
.rgb-range-container{
	width:100%;
	text-align:center;
}
.rgb-range-container span{
	color:white;
}
.rgb-range{
	width:50%;
}
.rgb{
	padding:0;
	margin:0;
	color:white;
}
.custom-container{
	height:18%;
}
#custom-btn span{
	margin:0;
	padding:0;
}

@media screen and (max-width:768px){
	.user-menu{
		width:50%;
	}
}